ddsketch==3.0.1
fasteners==0.17.3
joblib==1.5.0
matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.3
paretoset==1.2.3
plotly==6.0.1
plotly-express==0.4.1
psutil==7.0.0
pybind11==3.0.2
PyYAML==6.0.1
randomname==0.2.1
ray==2.31.0
scikit-learn==1.5.0
scipy==1.15.3
seaborn==0.13.2
threadpoolctl==3.6.0
wandb==0.16.6
